/* Bordered form */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@font-face {
    font-family: 'Ubuntu', sans-serif;
}
html {
    background-color: 282828;
}
form {
    background: #3b3b3b;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 255, 255);
    width: 420px;
    height: auto;
    box-shadow: 0px 4px 8px rgb(27, 27, 27);
}


/* Full-width inputs */

input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 8px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    background: rgb(54, 54, 54);
    border-width: 0px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 255, 255);
    outline: none;
    border-left: 3px solid;
    border-color:#ff9900;
}


/* Set a style for all buttons */

button {
    color: rgb(255, 255, 255);
    padding: 14px 8px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra style for the cancel button (red) */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background: #fd5d52;
    transition-property: background-color, background;
    transition-duration: 2s;
    cursor: pointer;
}

.cancelbtn:hover {
    transition-property: background-color, background;
    transition-duration: 2s;
    background: #ff1100;
}


/* Extra style for the forget password button (blue) */

.forgetpassbtn {
    width: auto;
    padding: 10px 18px;

    cursor: pointer;
    background-color: #3682f4;
    background: linear-gradient(90deg, rgba(53, 149, 255, 1) 0%, rgb(12, 186, 255) 100%);
}


/* Extra style for the forget password button (blue) */

.signupbtn {
    width: auto;
    padding: 10px 18px;

    cursor: pointer;
    background: rgb(162, 0, 255);
    transition-property: background-color, background, box-shadow;
    transition-duration: 2s;
}

.signupbtn:hover {
    transition-property: background-color, background, box-shadow;
    transition-duration: 2s;
    background: rgb(186, 0, 211);
    box-shadow: #c300ff 0px 0px 8px;
}


/* Extra style for connect button button (green) */

.connectbtn {
    padding: 14px 8px;
    margin: 8px 0;
    border: none;

    cursor: pointer;
    width: 100%;
    background: #ff9900;
    transition-property: background-color, background, box-shadow;
    transition-duration: 2s;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
}

.connectbtn:hover {
    background: #ff9900;
    transition-property: background-color, background, box-shadow;
    transition-duration: 2s;
    outline: none;
}


/* Center the avatar image inside this container */

.imgcontainer {
    text-align: center;
    margin: 0px 0 12px 0;
    background: linear-gradient(90deg, #3b3b3b 0%, #3b3b3b 100%);
    width: 420px;
    height: 125px;

    box-shadow: 0px 4px 8px rgb(27, 27, 27);
}


/* Avatar image */

img.avatar {
    width: 40%;

}


/* Add padding to containers */
a{
    text-align:center;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    outline: none;

}
.container {
    padding: 16px;
}
footer{
    text-align:center;
    color: #d4d4d4;
    font-family: 'Ubuntu', sans-serif;
}

/* The "Forgot password" text */

span.psw {
    float: right;
    padding-top: 16px;
}
.erreur{
    border-style: solid;
    color: rgb(255, 255, 255);

    background-color: #633030;
    border-width: 3px;
    border-color: #e71b1b;
    width: auto;
    padding: 4px;
    margin-bottom: 10px ;
    margin-top: -5px ;
}
.crédits{
    border-style: solid;
    color: rgb(255, 255, 255);

    background-color: #683b00;
    border-width: 3px;
    border-color: #ff7b00;
    width: auto;
    padding: 4px;
    margin-bottom: 10px ;
    margin-top: -5px ;
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
    b,
    em,
    h1,
    h2,
    h3,
    h4,
    a,
    p {
        font-family: 'Ubuntu', sans-serif;
    }
    .right {
        text-align: right;
        vertical-align: right;
        color: #ffffff;
    }
}